<div class="container">
  <h5 class="mt-2 text-center animate__animated animate__bounce slower"
    style="color: rgb(104, 151, 151); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <strong>Listado de Personajes Marvel Comics </strong></h5>
  <h2 class="mt-2 text-center animate__animated animate__bounce slower"
    style="color: rgb(104, 151, 151); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    <!-- <strong>Personajes </strong>-->
    </h2>
  <div class="row row-cols-2 row-cols-md-6 g-3 mt-2">
    <div class="col p-1" *ngFor="let heroe of allCharacters | async | paginate: { itemsPerPage: 30, currentPage: p }">
     <app-character [heroe]="heroe"></app-character>
    </div>
  </div>
  <br>
  <div class="text-center">
     <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <br>
</div>
