<div id="main">
  <div class="fof">
    <div class="row">
      <div class="col">
        <h1>Ups! Pagina no encontrada</h1>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          class="btn-size-md"
          mat-stroked-button
          color="primary"
        >
          <mat-icon
            aria-hidden="false"
            mat-stroked-button
            color="primary"
            aria-label="Example home icon"
            >reply</mat-icon
          >
          Volver atrás
        </button>
      </div>
    </div>
  </div>
</div>


